<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://lig.imag.fr/dsl/ExSchema" 
       class = "fr.imag.exschema.xtext.exSchema.ExSchemaPackage"
       genModel = "fr/imag/exschema/xtext/ExSchema.genmodel" /> 
	
  </extension>




</plugin>
