<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="fr.imag.exschema.contribution1">
         <menu
               icon="hadas.ico"
               id="fr.imag.exschema.menu1"
               label="ExSchema"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Discover schemas"
               class="fr.imag.exschema.popup.actions.DiscoverAction"
               menubarPath="fr.imag.exschema.menu1/group1"
               enablesFor="1"
               id="fr.imag.exschema.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
