<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="fr.imag.exschema.contribution1">
         <menu
               icon="META-INF/hadas.ico"
               id="fr.imag.exschema.menu1"
               label="ExSchema"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fr.imag.exschema.popup.actions.DiscoverHistoryAction"
               enablesFor="1"
               icon="META-INF/git.ico"
               id="fr.imag.exschema.historyAction"
               label="Discover schemas from Git repository"
               menubarPath="fr.imag.exschema.menu1/group1">
         </action>
         <action
               class="fr.imag.exschema.popup.actions.DiscoverAction"
               enablesFor="1"
               icon="META-INF/current.gif"
               id="fr.imag.exschema.newAction"
               label="Discover current schemas"
               menubarPath="fr.imag.exschema.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
